@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Av. Ricardo Medina Filho<br />
    São Paulo, SP 05057-100<br />
    <abbr title="Phone">P:</abbr>
    (11) 95431-7385
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">contato@levyhenrique.com.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">contato@levyhenrique.com.br</a>
</address>